.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}
.form-control.ng-valid {
background-color: #CCF5E0;
}
.form-control.ng-dirty.ng-invalid-required {
background-color: #FFAD99;
}
.form-control.ng-dirty.ng-invalid-minlength {
background-color: #FF99C2;
}