.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}

.form-control.ng-valid {
	background-color: #CCF5E0;
}
.form-control.ng-pristine {
	background-color: #E6E6FA;
}

.form-control.ng-dirty.ng-invalid {
	background-color: #FFCCE0;
}

.editContainer {
	text-align: center;
}

.editor{
	margin-top: 5px;
        margin-left: auto;
	margin-right: auto;
	text-align: left;
        height: 300px;
        width: 70%;
        cursor: text;
        border: 1px solid #999; 
        background: white;
        box-shadow: inset 0px 1px 4px #666;
        padding: 10px;
}


